body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: #eee;
}

.box {
  width: 250px;
  height: 150px;
  background: red;
  color: white;
  font-size: 1.1rem; /* ~17.6px */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  text-shadow: 1px 1px black;
  box-shadow: 4px 4px 10px gray;
}
